{% extends 'bookmodule/base.html' %}

{% block content %}
    <h1>Example of Formatting tags</h1>
    <p>This text has subtext using <b>b tag</b></p>
    <p>This text has subtext using <strong>strong tag</strong></p>
    <p>This text has subtext using <i>i tag</i></p>
    <p>This text has subtext using <em>emphasize tag</em></p>
    <p>This text has subtext using <small>small tag</small></p>
    <p>This text has subtext using <mark>mark tag</mark></p>
    <p>This text has subtext using <del>del tag</del></p>
    <p>This text has subtext using <ins>ins tag</ins></p>
    <p>This text has subtext using <sub>sub tag</sub></p>
    <p>This text has subtext using <sup>sup tag</sup></p>
{% endblock %}