{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show one Game</title>
    <meta name="keywords" content="Games, recent, Learning, library">
    <meta name="description" content="Games website">
    <meta name="author" content="author name">
    <link rel="icon" href="qu-icon.png">
</head>
<body>
    <a href="{% url 'games.list_games' %}">Go Back</a>
    <h1>Details of Game1</h1>
    <h2>Hollow knight</h2>
    <h2>Developer: Team Cherry</h2>
    <p><strong> Hollow knight:</strong> A challenging 2D Metroidvania adventure where you explore a beautiful, hand-drawn underground kingdom of insects and ancient heroes.</p>
    <img src="{% static 'hollow_knight.jpg' %}" alt="Hollow knight" width="200" height="200">
</body>
</html>