<table border="1" cellpadding="10" style="border-collapse: collapse; width: 100%; text-align: left;">
        <tr style="background-color: #f2f2f2;">
            <th>ID</th>
            <th>Game Title</th>
            <th>Publisher & Studios</th> <th>Price</th>
        </tr>
        
        {% for obj in games %}
        <tr>
            <td>{{ obj.id }}</td>
            <td><strong>{{ obj.title }}</strong></td>
            <td>
                {% if obj.publisher %}
                    <strong>{{ obj.publisher.name }}</strong>
                {% else %}
                    No Publisher
                {% endif %}
                
                <br>
                <small style="color: gray;">
                {% for studio in obj.studios.all %}
                    {{ studio.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </small>
            </td>
            <td>${{ obj.price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" style="text-align: center;">No games found matching your search.</td>
        </tr>
        {% endfor %}
    </table>